#contact-section { 
     padding: 5% 10%;
     background: var(--secondary-bg-color);
}

#contact-section .contact-header h2 {
     font-size: 35px;
}

#contact-section .contact-header h3 {
     font-size: 50px;
     color: var(--primary-color);
     margin-bottom: 20px;
}

#contact-section .form-and-details-container {
     display: flex;
     justify-content: space-between;
}

#contact-section .form-and-details-container .contact-details-container {
     width: 50%;
}

#contact-section .form-and-details-container .contact-details .social-links{
     transform: rotate(0);
}

#contact-section .form-and-details-container .contact-details-heading {
     font-size: 30px;
     font-weight: 400;
     margin-bottom: 35px;
}

#contact-section .form-and-details-container .contact-details-description {
     font-size: 17px;
     font-weight: 400;
     margin-bottom: 25px;
}

#contact-section .form-and-details-container .contact-details .detail {
     display: flex;
     font-size: 16px;
     margin-bottom: 30px;
     align-items: center;
}

#contact-section .form-and-details-container .contact-details .detail i {
     font-size: 25px;
     margin-right: 20px;
     margin-bottom: 10px;
}

#contact-section .form-and-details-container .contact-details .detail a {
     color: var(--primary-text-color);
}

#contact-section .form-and-details-container .contact-details .social-links {
     position: static;
}

#contact-section .form-and-details-container .contact-details .social-links li {
     transform: rotate(0);
}

#contact-section .form-and-details-container #contact-form {
     width: 45%;
     padding: 2.5%;
     box-shadow: var(--secondary-box-shadow);
     background: var(--secondary-bg-color);
}

#contact-section .form-and-details-container #contact-form input,
#contact-section .form-and-details-container #contact-form textarea {
     width: 100%;
     height: 40px;  
     border: none;
     padding: 5px;
     outline: none;
     display: block;
     font-size: 16px;
     font-weight: 400;
     margin-bottom: 20px;
     background-color: transparent;
     color: var(--primary-text-color);
     font-family: 'Poppins', sans-serif;
     border-bottom: 2px solid var(--primary-color);
}

#contact-section .form-and-details-container #contact-form input:focus,
#contact-section .form-and-details-container #contact-form textarea:focus {
     border-radius: 3px;
     border: 2px solid var(--primary-color);
}

#contact-section .form-and-details-container #contact-form input::placeholder,
#contact-section .form-and-details-container #contact-form textarea::placeholder {
     font-family: 'Poppins', sans-serif;
}

#contact-section .form-and-details-container #contact-form .btn {
     width: 100%;
     display: block;
     color: var(--secondary-bg-color);
     background: var(--primary-color);
     border: 2px solid var(--primary-color);
}

#contact-section .form-and-details-container #contact-form .btn:hover {
     color: var(--primary-color);
     background: var(--secondary-bg-color);
     border: 2px solid var(--primary-color);
}


@media screen and (max-width: 900px) {
     #contact-section { 
          padding: 10%;
     }
               
     #contact-section .form-and-details-container {
          flex-direction: column;
     }
     
     #contact-section .form-and-details-container .contact-details-container, 
     #contact-section .form-and-details-container #contact-form {
          width: 100%;
     }

     #contact-section .form-and-details-container .contact-details-container {
          margin-bottom: 50px;
     }
}