.custom-cursor {
     width: 40px;
     height: 40px;
     z-index: 9999;
     display: block;
     position: absolute;
     border-radius: 50%;
     pointer-events: none;
     transform-origin: center;
     transform: translate(-50%, -50%);
     border: 2px solid var(--primary-text-color);
}

.custom-cursor.expand {
     transform: scale(2);
}


/* MEDIA QUERY FOR DEVICES THAT DON'T RESPOND TO HOVER AT ALL, DEVICES LIKE TOUCH SCREEN */
@media (hover: none) {
     .custom-cursor {
          display: none;
     }
}