#landing-section {
     height: 100vh;
     position: relative;
     background: var(--secondary-bg-color);
}
 
#landing-section .landing-content {
     top: 35%;
     left: 15%;
     width: 70%;
     position: absolute;
}
 
#landing-section .landing-content  p {
     font-size: 24px;
     font-weight: bold;
     color: var(--secondary-text-color);
}
 
#landing-section .landing-content h1 {
     font-size: 80px;
     font-weight: 900;
     color: var(--primary-text-color);
}
 
#landing-section .landing-content h1 span {
     font-size: 120px;
}

#landing-section .landing-content a .btn {
     font-size: 24px;
}

 
/* MEDIA QUERRIES FOR PHONES BETWEEN 0 - 600PX*/
@media screen and (max-width: 600px) {
     #landing-section {
          padding-top: 60%;
     }
 
     #landing-section .landing-content p {
          font-size: 20px;
     }
 
     #landing-section .landing-content h1 {
          font-size: 40px;
          margin-bottom: 50px;
     }
 
     #landing-section .landing-content h1 span {
          font-size: 70px;
     }
 
     #landing-section .landing-content a .btn {
          font-size: 24px;
     }
}
 
 
/* MEDIA QUERRY FOR SCREENS BETWEEN 600PX TO 900PX */
@media only screen and (max-width: 900px) and (min-width: 600px)  {
     #landing-section .landing-content h1 {
          font-size: 50px;
          margin-bottom: 50px;
     }
 
     #landing-section .landing-content h1 span {
          font-size: 80px;
     }
}