#resume-section {
    padding: 5% 10%;
    background: var(--primary-bg-color);
}

#resume-section .section-header .cursive {
    font-size: 50px; 
}


#resume-section .education-container, 
#resume-section .experience-container {
    width: 50%;
}

#resume-section .education-container h4, 
#resume-section .experience-container h4 {
    font-size: 25px;
    margin-bottom: 20px;
}

/* RESUME CONTAINER */
#resume-section .resume-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* RESUME ITEM */
#resume-section .education-container .resume-item, 
#resume-section .experience-container .resume-item {
    width: 600px;
    padding: 30px;
    max-width: 95%;
    min-height: 300px;
    margin-bottom: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: var(--primary-box-shadow);
    border-left: 4px solid var(--primary-color);
}

#resume-section .experience-container .resume-item:nth-child(4) {
    min-height: 240px;
}

#resume-section .education-container .resume-item h5, 
#resume-section .experience-container .resume-item h5 {
    font-size: 20px;
    margin-bottom: 20px;
}  

#resume-section .education-container .resume-item a, 
#resume-section .experience-container .resume-item a {
    font-weight: 500;
    color: var(--primary-color);
}  

#resume-section .education-container .resume-item h6,
#resume-section .experience-container .resume-item h6 {
    font-size: 13px;
    color: var(--primary-text-color);
}   

/* RESUME SKILL BAR */
#resume-section .experience-container .resume-item .skills-container .skill {
    margin-bottom: 15px;
}

#resume-section .experience-container .resume-item .skills-container .skill h6 {
    font-size: 15px;
    font-weight: 600;
}

/* RESUME SKILL OUTER BAR */
#resume-section .experience-container .resume-item .skills-container .skill .outer-bar {
    width: 100%;
    height: 10px;
    background: rgba(120, 120, 120, 0.5);
}

/* RESUME SKILL INNER BAR */
#resume-section .experience-container .resume-item .skills-container .skill .outer-bar .inner-bar {
    height: 100%;
    background: var(--primary-color);
}

/* PROBLEM SOLVING BAR */
#resume-section .experience-container .resume-item .skills-container .skill .outer-bar .inner-bar.skill-1 {
    width: 84%;
    position: relative;
    animation: skill-1-fill 3s ease-in-out;
}

#resume-section .experience-container .resume-item .skills-container .skill .outer-bar .inner-bar.skill-1::after {
    top: -10px;
    right: -20px;
    content: '84%';
    position: absolute;
    transform: translateY(-50%);
}

/* CURIOUSITY BAR */
#resume-section .experience-container .resume-item .skills-container .skill .outer-bar .inner-bar.skill-2 {
    width: 71%;
    position: relative;
    animation: skill-2-fill 3s ease-in-out;
}

#resume-section .experience-container .resume-item .skills-container .skill .outer-bar .inner-bar.skill-2::after {
    top: -10px;
    right: -20px;
    content: '71%';
    position: absolute;
    transform: translateY(-50%);
}

/* CREATIVITY BAR */
#resume-section .experience-container .resume-item .skills-container .skill .outer-bar .inner-bar.skill-3 {
    width: 88%;
    position: relative;
    animation: skill-3-fill 3s ease-in-out;
}

#resume-section .experience-container .resume-item .skills-container .skill .outer-bar .inner-bar.skill-3::after {
    top: -10px;
    right: -20px;
    content: '88%';
    position: absolute;
    transform: translateY(-50%);
}

/* HELPING OTHERS BAR */
#resume-section .experience-container .resume-item .skills-container .skill .outer-bar .inner-bar.skill-4 {
    width: 90%;
    position: relative;
    animation: skill-4-fill 3s ease-in-out;
}

#resume-section .experience-container .resume-item .skills-container .skill .outer-bar .inner-bar.skill-4::after {
    top: -10px;
    right: -20px;
    content: '90%';
    position: absolute;
    transform: translateY(-50%);
}

/* HOBBIES CONTAINER */
#resume-section .experience-container .resume-item .hobbies-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

#resume-section .experience-container .resume-item .hobbies-container .hobby {
    padding: 10px;
    border-radius: 5px;
    margin: 10px 20px 10px 0;
    background: var(--primary-bg-color);
    box-shadow:  var(--secondary-box-shadow);
}

#resume-section .experience-container .resume-item .hobbies-container .hobby span {
    font-weight: 500;
}

/* TECH STACK SECTION */
#resume-section .tech-stacks .stack-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    align-items: center;
    justify-content: space-between;
}

#resume-section .tech-stacks .stack-container .stack {
    width: 80%;
    padding: 30px;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 30px;
    background: var(--primary-bg-color);
    box-shadow: var(--primary-box-shadow);
}

#resume-section .tech-stacks .stack-container .stack p {
    opacity: .5;
    font-size: 25px;
}

#resume-section .tech-stacks .stack-container .stack h6 {
    font-size: 30px;
    color: var(--primary-color);
}


/* MEDIA QUERRIES FOR PHONES BETWEEN 0 - 800PX*/
@media screen and (max-width: 900px) {
    #resume-section { 
        padding: 10%;
    }

    #resume-section .education-container, 
    #resume-section .experience-container {
        width: 100%;
    }

    #resume-section .resume-container {
        flex-direction: column;
    }   

    #resume-section .resume-container h4 {
        font-size: 30px;
        margin-bottom: 20px;
    }   

    #resume-section .education-container .resume-item, 
    #resume-section .experience-container .resume-item {
        width: 100%;
        max-width: 100%;
    }

    #resume-section .education-container, 
    #resume-section .experience-container {
        margin-bottom: 50px;
    }

    #resume-section .tech-stacks .stack-container {
        flex-direction: column;
    }

    #resume-section .tech-stacks .stack-container .stack {
        width: 100%;
    }

    #resume-section .tech-stacks .stack-container {
        justify-content: center;
    }
    
}